{% extends "portfolio/layout.html" %}

{% block main %}


<p>Olá, sou a Beatriz e estudo Engenharia Informática porque <br> sempre me interessei pela área e em entender como tudo funciona. <br>

No futuro, gostaria de ter a oportunidade de trabalhar <br> em áreas específicas como segurança informática ou desenvolvimento de front-end.<br>

Também gosto de explorar novos lugares, ter novas experiências<br>e praticar desporto.<br>
</p>

<br>
<br>
<h4>Contactos</h4>
  <ul>
      <li>
       <a href="https://www.linkedin.com/">LinkedIn</a>
       <a href="https://github.com/">GitHub</a>
       <a href="https://www.instagram.com">Instagram</a>
       <a href="#">Lisboa </a>
      </li>

    </ul>





{% endblock main %}


