{% extends "portfolio/layout.html" %}

{% block main %}


<p>Hello, I'm Beatriz, and I study Computer Engineering because <br> I've always been interested in the field and understanding how everything works. <br>

In the future, I would like to have the opportunity to work <br> in specific areas such as cybersecurity or front-end development.<br>

I also enjoy exploring new places, having different experiences, <br>  and participating in sports activities. fazer desporto.<br>
</p>

<br>
<br>
<h4>Contactos</h4>
  <ul>
      <li>
       <a href="https://www.linkedin.com/">LinkedIn</a>
       <a href="https://github.com/">GitHub</a>
       <a href="https://www.instagram.com">Instagram</a>
       <a href="#">Lisboa </a>
      </li>

    </ul>





{% endblock main %}


