{% extends 'portfolio/layout.html' %}

{% block main %}

	<h3> Formação </h3>



      <div>
          <h4>Ensino secundário</h4>
          <span class="anos">2018-2021,</span>
          <span class="escola">Colégio Bartolomeu Dias</span>
          <span>Ciências da tecnologia.</span>
      </div>

     <div>
        <h4>Ensino Superior</h4>
        <span class="anos">2021- A decorrer,</span>
        <span class="escola">Universidade Lusófona de Humanidades e Tecnólogias</span>
        <a href="licenciatura.html">Licenciatura em Engenharia informática.</a>
     </div>

  <h3> Aptidões e Competências</h3>
 <div>
     <ul>
       <li>Organizada // Boa gestão de tempo </li>
       <li>Cooperativa // Inglês </li>
          <li>Java // SQL</li>
         <li>Python // Html&CSS </li>
         <li>Kotlin // Power BI </li>

     </ul>

 </div>




{% endblock %}
