{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}

  <h1>Welcome to my Portfolio</h1>


{% if request.user.is_authenticated %}

	<h3>Posts</h3>

   <p>
    {% if hora > 12 %}
       Boa tarde,
    {% else %}
       Bom dia,
    {% endif %}
    estamos em {{ local }}, e são {{ hora }} horas.
 </p>

<a href="{% url 'portfolio:nova' %}" class="btn btn-sucess" style="background-color: black; color: white;">Novo Post</a>

  {% for post in Post %}

     <div>
            <h2>{{ post.titulo }}</h2>
            <p>Autor: {{ post.autor }}</p>
            <p>Data: {{ post.data }}</p>
            <p>Descrição: {{ post.descricao }}</p>
            <p>Área: {{ post.area }}</p>
            <p>Likes: {{ post.likes }}</p>
            <p>Link: <a href="{{ post.link }}">{{ post.link }}</a></p>
             <a href="{% url 'portfolio:edita' post.id %}" class="btn btn-warning  btn-sm" style="background-color: black; border-color: black; color: white;" >Editar</a>

            <h3>Comentários</h3>
     </div>

  {% endfor %}

{% endif %}

{% endblock %}