* {
    padding: 0; 
    margin: 0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
  }

  body {
   background-color: #F0F8FF;


  }

  img{
  width:200px;
  }

  header {
    height: 10vh;
    background: black;
    color: lightgray;
    top: 0;  
    
    /* alinhando logo e menu */
    display:flex;
    justify-content: space-between;  
    align-items: center;
  }
  
  header div {
    font-size: 2em;  
    padding: 1em;
  }
  
  header nav {
    display:flex;
    justify-content: flex-end;
  }

  nav a:hover {
  color: lightblue;
  }
  
  nav a {
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: lightgray;
  }

  nav p {
  text-decoration: underline;
  }
  
  
  main {
    width: 50px;
   padding: 15px;
   border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     margin-left: auto;
    margin-right: auto;
    margin-top: 100px;


  }

main p {
   text-align: center;
   padding: 20px;
   margin: 10px;
   color: black;
   background-color: lightblue;
   border-radius: 20px;
}

div{
   text-align: center;
   padding: 20px;
   margin: 10px;
   color: black;
   background-color: lightblue;
   border-radius: 20px;
   width:500px;
  justify-content: center;
  align-items: center;
}
div h2, div p {
  padding-bottom: 5px;
  }

  footer {
   position:fixed;
   bottom: 30px;
   width: 100%;
   color: black;
   text-align: center;
   text-width: bold;
}
footer a {
text-decoration: none;
color: black;
}
grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .postal {
    border: 1px solid #ccc;
    padding: 20px;
  }

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}


 form{
 margin-bottom: 20px;
 }

 h4{
 font-style: italic;
 }

 div a {
 color: black;
 }

  ul {
    list-style-type: none;
    margin: 30px;
  }

ul a {
text-decoration: none;
font-style:italic;
color: black;
}

ul a:hover {
color: #4682B4;
}

h3{
font-style: italic;
}

#btn btn-sucess{
color: blue;
border-radius: 5px;
}